<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HTMX</title>
</head>
<body>
  <!-- have a button POST a click via AJAX -->
  <button hx-get="/clicked" hx-swap="outerHTML">
    Click Me
  </button>

  <button
    hx-get="/clicked"
    hx-trigger="click"
    hx-target="#parent-div"
    hx-swap="outerHTML"
  >
    Click Me 2!
  </button>

  <div id="parent-div">minha div</div>

  <h1>Titulo</h1>
  <p>Lorem ipsum dolor sit amet.</p>

  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</body>
</html>